body{
  background-color: rgb(36, 36, 36);
}

label{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 800;
  color: aliceblue;
}

input{
  border: 2px solid black;
  border-radius: 8px;

  box-shadow: 1px 1px 2px 1px rgb(37, 34, 127);

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div{
  display: flexbox;
  flex-direction: column;
  text-align: center;
}

option{
  border: 2px solid black;
  border-radius: 8px;

  box-shadow: 1px 1px 2px 1px rgb(37, 34, 127);

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cliente{
width: fit-content;

  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;

  box-shadow: 1px 1px 2px 1px rgb(37, 34, 127);
  
  margin: 2px;
  margin-left: 47.5%;
  padding: 8px;

  display: flex;
  flex-direction: column;
}

h2{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 800;
  color: aliceblue;
}
p{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 800;
  color: aliceblue;
}
